name: pull request

on:
  push:
    branches:
      - master
  pull_request:
env:
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
  resourceRunID: ${{ github.run_id }}-${{ github.run_number }}

jobs:
  env-job:
    runs-on: ubuntu-latest
    outputs:
      modified-branch-name: ${{ steps.env.outputs.MODIFIED_BRANCH_NAME }}
    name: Modify branch name
    steps:
      - name: Sets MODIFIED_BRANCH_NAME
        id: env
        env:
          name: "${{env.BRANCH_NAME}}"
        run: |
          echo "MODIFIED_BRANCH_NAME=${name//\//-}" >> ${GITHUB_OUTPUT}
          cat ${GITHUB_OUTPUT}

  BuildFlavors:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-15 ]
        java_version: [ 17 ]
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
          fetch-depth: 0
      - name: Install JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java_version }}
      - name: Install Android SDK
        uses: hannesa2/action-android/install-sdk@0.1.16.9
      - name: Decrypt keystore
        run: ./signing/decrypt.sh
        env:
          CRYPT_PASS: ${{ secrets.CRYPT_PASS }}
      - name: Build project
        run: ./gradlew assembleDebug
      - name: cleanup
        run: ./signing/cleanup.sh
  TestPro:
    name: Test Pro
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
    needs:
      - env-job
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-22.04 ]
        api: [ 34 ]
        abi: [ x86_64 ]
        tag: [ 'google_apis' ]
        emulatorApi: [ 14 ]
        java_version: [ 17 ]
    steps:
      - name: kvm support
        run: |
          egrep -c '(vmx|svm)' /proc/cpuinfo
          id
          sudo adduser $USER kvm
          sudo chown -R $USER /dev/kvm
          id
      - name: prepare
        run: |
          sudo apt-get update && sudo apt-get install -y exiftool imagemagick xdg-utils libimage-exiftool-perl zsh jq xorg
      #          brew install exiftool imagemagick
      - uses: actions/checkout@v5
        with:
          submodules: true
          fetch-depth: 0
      - name: show envs
        run: |
          echo BRANCH_NAME=${{ needs.env-job.outputs.modified-branch-name }}
          echo GITHUB_RUN_ID=${GITHUB_RUN_ID}
      - name: Install JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java_version }}
      #      - name: prepare
      #        run: brew install exiftool imagemagick
      - name: Install Android SDK
        uses: hannesa2/action-android/install-sdk@0.1.16.9
      - name: Decrypt keystore
        run: ./signing/decrypt.sh
        env:
          CRYPT_PASS: ${{ secrets.CRYPT_PASS }}
      - name: Run instrumentation tests
        uses: hannesa2/action-android/emulator-run-cmd@0.1.16.9
        with:
          cmd: |
            ./gradlew :app:connectedPaidDebugAndroidTest --continue
          api: ${{ matrix.api }}
          tag: ${{ matrix.tag }}
          abi: ${{ matrix.abi }}
          cmdOptions: -noaudio -no-boot-anim -no-window -metrics-collection
          disableAnimations: true
          bootTimeout: 180 # 840 seconds = 12 minutes
      - name: Archive screenshots ${{ matrix.emulatorApi }}
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: MXPro-Screenshots-${{ needs.env-job.outputs.modified-branch-name }}-${{ matrix.emulatorApi }}
          path: |
            app/build/outputs/connected_android_test_additional_output/paidDebugAndroidTest/connected
      - name: Archive Espresso results ${{ matrix.emulatorApi }}
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: MXPro-Espresso-${{ needs.env-job.outputs.modified-branch-name }}-${{ matrix.emulatorApi }}
          path: |
            app/build/outputs/androidTest-results/connected
      - name: Compare screenshots ${{ matrix.emulatorApi }}
        if: ${{ always() }}
        env:
          CLASSIC_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          emulatorApi: ${{ matrix.emulatorApi }}
        run: |
          ls -la app/build/outputs/connected_android_test_additional_output/paidDebugAndroidTest/connected
          cp app/build/outputs/connected_android_test_additional_output/paidDebugAndroidTest/connected/emulator-5554\ -\ ${{ matrix.emulatorApi }}/* screenshotsToCompare${{ matrix.emulatorApi }}
          echo ${{ env.resourceRunID }}
          export DISPLAY=:99
          sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 &
          ./screenShotScript/screenShotCompare.sh ${{ env.resourceRunID }}
      - name: Archive screenshots diffs ${{ matrix.emulatorApi }}
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: MXPro-diffs-${{ needs.env-job.outputs.modified-branch-name }}-${{ matrix.emulatorApi }}
          path: |
            screenshotDiffs
      - name: cleanup
        run: ./signing/cleanup.sh
      - name: Show git status ${{ matrix.emulatorApi }}
        if: ${{ always() }}
        run: |
          git add screenshotsToCompare${{ matrix.emulatorApi }}
          git status
          [ "$(git status -s -uno)" ] && exit 1 || exit 0
  Check:
    name: Check
    runs-on: ${{ matrix.os }}
    needs:
      - env-job
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-22.04 ]
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
          fetch-depth: 0
      - name: show envs
        run: |
          echo ${{ needs.env-job.outputs.modified-branch-name }}
      - name: Decrypt keystore
        run: ./signing/decrypt.sh
        env:
          CRYPT_PASS: ${{ secrets.CRYPT_PASS }}
      - uses: gradle/actions/wrapper-validation@v4
      - name: Install JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: 17
      #      - name: Run tests
      #        run: ./gradlew test
      - name: gradle check
        run: ./gradlew lintDebug # ktlintCheck
      - name: Archive Lint report
        uses: actions/upload-artifact@v4
        if: ${{ always() }}
        with:
          name: MX-Lint-report-${{ needs.env-job.outputs.modified-branch-name }}
          path: ./**/build/reports/lint-results*.html
      - name: cleanup
        run: ./signing/cleanup.sh
  Release:
    name: Release dry run
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macOS-14 ]
        java_version: [ 17 ]
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
          fetch-depth: 0
      - name: Install JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java_version }}
      - name: Install Android SDK
        uses: hannesa2/action-android/install-sdk@0.1.16.9
      - name: Decrypt keystore
        run: ./signing/decrypt.sh
        env:
          CRYPT_PASS: ${{ secrets.CRYPT_PASS }}
      - name: Build release project
        run: ./gradlew assembleRelease
        env:
          CRYPT_PASS: ${{ secrets.CRYPT_PASS }}
      - name: cleanup
        run: ./signing/cleanup.sh
